<!DOCTYPE html>
<html lang="sv">
<head>
  <title>{% block title %}RSS{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block seo %}
    <meta name="robots" content="noarchive">
  {% endblock %}

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#555">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet">

  <style>
    /* CSS RESET */
    html, body {
      padding: 0;
      margin: 0;
    }

    /* LAYOUT */
    body * {
      box-sizing: border-box;
      font-family: 'Readex Pro', sans-serif;
    }

    .body--fixed {
      height: 100vh;
      overflow: hidden;
    }

    .body--fixed .site-body {
      padding: 0 10px 0 10px;
    }

    main {
      margin-top: 0;
    }
  </style>
  <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="scroll-view.css">
  {% block head %}{% endblock %}
</head>
<body class="{% block footerClasses %}{% endblock %}">
  <div class="site-body">
    {% block body %}{% endblock %}
  </div>
  <footer class="site-footer class="{% block bodyClasses %}{% endblock %}"">
    <p>created by hagge ©</p>
  </footer>
  <script src="./main.js"></script>
</body>
</html>
