{% extends "./layouts/default.njk" %}
{% block content %}
  <header id="header--main">
    <h1>RSS Grid</h1>
    <a href="/">Scrollview</a>
  </header>

  <div class="grid">
    {% for article in content.items %}
      <article class="grid-item">
        {% if article.imgUrl %}
          {# Use aspect-ratio to prevent jumpy layout shifting during image loading #}
          <img class="article__img" src="{{ article.imgUrl }}" alt="" style="aspect-ratio: 16/9;" />
        {% endif %}
        <h2>{{- article.title -}}</h2>
        <section class="article__description">
          <p>{{ article.description | safe }}</p>
        </section>
      </article>
    {% endfor %}
  </div>

  <script>
    (function () {
      const elementsWithStyle = Array.from(document.querySelectorAll(".article__description *[style]"));
      console.log("elementsWithStyle", elementsWithStyle.length);
      elementsWithStyle.forEach((element) => {
        element.style = "";
      });

      const iframes = Array.from(document.querySelectorAll(".article__description iframe"));
      console.log("iframes", iframes.length);

    })();
  </script>

{% endblock %}

