{% extends "./layouts/default.njk" %}

{% block head %}
  <link rel="stylesheet" href="medium-view.css">
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic|PT+Serif:ital,wght@0,400;0,700;1,400;1,700' rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}
  <header id="header--main">
    <h1>RSS Feed</h1>
    <a href="/">Change view</a>
  </header>

  <div class="grid">
    {% for article in content.items %}
      {% set isAllCaps = article.title | isAllCaps %}

      <article class="grid-item">


        {% if loop.index0 % 10 == 0 %}
          {% set headlineClass = "hl1" %}
        {% elif loop.index0 % 9  == 0 %}
          {% set headlineClass = "hl2" %}
        {% elif loop.index0 % 8  == 0 %}
          {% set headlineClass = "hl3" %}
        {% elif loop.index0 % 7 == 0 %}
          {% set headlineClass = "hl1" %}
        {% elif loop.index0 % 6 == 0 %}
          {% set headlineClass = "hl5" %}
        {% elif loop.index0 % 5 == 0 %}
          {% set headlineClass = "hl6" %}
        {% elif loop.index0 % 4 == 0 %}
          {% set headlineClass = "hl7" %}
        {% elif loop.index0 % 3 == 0 %}
          {% set headlineClass = "hl8" %}
        {% elif loop.index0 % 2 == 0 and not isAllCaps %}
          {% set headlineClass = "hl9" %}
        {% else %}
          {% set headlineClass = "hl0" %}
        {% endif %}

        <div class="read-it-on">
          {% if article.link %}
          {% if article.author %} <span class="read-it-on__author"><em>by</em> {{article.author | safe}}&nbsp;</span>{% endif %}
            <em>for</em> <a class="source-link" target="_blank" href="{{article.link}}">{{article.link | getDomainFromUrl}}</a>
          {% endif %}
        </div>

        <h2 class="headline {{headlineClass}}">{{- article.title -}}</h2>

        {% if article.imgUrl %}
          {# Use aspect-ratio to prevent jumpy layout shifting during image loading #}
          <img class="article__img" src="{{ article.imgUrl }}" alt="" />
        {% endif %}

        <section class="article__description">
          <p>{{ article.description | safe }}</p>
        </section>
        <button class="button--square expand">EXPAND</button>
      </article>
    {% endfor %}
  </div>

  <script>
    (function () {
      const elementsWithStyle = Array.from(document.querySelectorAll(".article__description *[style]"));
      console.log("elementsWithStyle", elementsWithStyle.length);
      elementsWithStyle.forEach((element) => {
        element.style = "";
      });

      const iframes = Array.from(document.querySelectorAll(".article__description iframe"));
      console.log("iframes", iframes.length);

    })();
  </script>

{% endblock %}

