{% extends "./layouts/default.njk" %}

{% block bodyClasses %}
  body--fixed
{% endblock %}

{% block footerClasses %}
  footer--fixed
{% endblock %}

{% block content %}
  <header id="header--main">
    <h1>RSS Reader</h1>
    <a href="/grid">Gridview</a>
    {# <section class="categories">
      {% include "partials/categories.njk" %}
    </section> #}
  </header>

  <section class="sidebar">
    <header>
      <span style="font-size: 10px; margin-right: 6px;">Sort:</span>
      <button class="button button--sort-random active">Mix</button>
      <button class="button button--sort-new">New</button>
      <button class="button button--sort-old">Old</button>
      <button class="button button--sort-source">By feed</button>
    </header>
    <div class="teaser-list">
    {% for teaser in content.items %}
      {% set isActive = loop.first %}
      {% include "partials/teaser.njk" %}
    {% endfor %}
    </div>
  </section>

  {% set activeArticle = content.items[0] %}
  <div id="reader-view">
    <article id="reader-view-article">
      <h2>{{- activeArticle.title -}}</h2>
      {% if article.link %}
        <p class="article__meta">
          <a target="_blank" href="{{article.link}}">Source {% if article.author %} <span style="font-size: 0.8em"><em>by</em> {{article.author | safe}}{% endif %}</span></a>
        </p>
      {% endif %}
      <section class="article__description">
        <p>{{ activeArticle.description | safe }}</p>
      </section>
    </article>
  </div>
{% endblock %}

