.grid {
  /* display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 10px; */

  transition: all .5s ease-in-out;
  column-gap: 30px;
  column-fill: initial;
  padding: 10px;
  background-color: #f2f2f2;
}

@media only screen and (min-width: 800px) {
  .grid {
    column-count: 3;
  }
}

.grid-item {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;

  /* css column related */
  margin: 0 10px 30px 10px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: calc(33vw - 10px);
  overflow-wrap: break-word;
  overflow-x: hidden;
}

.article__description img,
.article__description iframe {
  max-width: 100%;
  height: auto;
}

.source-link {
  display: inline-block;
  clear: both;
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: #6b5b95;
  border-radius: 4px;

  &:hover {
    text-decoration: underline;
    box-shadow: 0px 0px 3px gray;
  }
}
