#header--main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  text-align: center;
  border-bottom: solid 3px #6b5b95;
  background: #6b5b95;
  color: white;
}

#header--main h1 {
  grid-area: h1;
  margin: 0;
  text-shadow: 2px 3px 0px rgb(0 0 0 / 20%);
}

#header--main a {
  color: white;
  text-decoration: none;
  display: flex;
  align-content: center;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}

.site-footer {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
  border-top: solid 3px #6b5b95;
  color: #999;
  font-size: 14px;
}

.site-footer--fixed {
  position: fixed;
  left: 0;
  bottom: 0;
}

/*---Generic UI---*/
button {
  margin: 0 5px 5px 5px;
  padding: 5px;
  min-height: 18px;
  border-radius: 10px;
  background-color: #6b5b95;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #563b9f;
  }

  &.active {
    background-color: #8462df;
  }

  &.button--square {
    border-radius: 0;
  }
}




.article__description {
  pre,
  code {
    font-size: 12px;
    font-family: monospace;
  }
}
