.category {
  color: #6b5b95;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  display: inline-block;
}

.pagination {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ccc;
}

.pagination--single {
  justify-content: space-around;
}

#reader-view {
  height: 100vh;
  overflow-y: scroll;
  padding: 0 10px;
}

#reader-view-article h2,
#reader-view-article a {
  color: #6b5b95;
}

#reader-view-article * {
  max-width: 100%;

  > h1 {
    font-size: 2.5vw;
    padding-bottom: 4px;
    border-bottom: solid 6px #6b5b95;
  }
}

#reader-view-article img {
  max-height: auto !important; //override silly inline styles
}

#reader-view-article code {
  font-family: monospace;
  overflow-x: scroll;
}

/*---Sidebar---*/
.sidebar {
  width: 28%;
  min-width: 260px;
  height: calc(100vh - 100px);
  float: left;
  margin-top: 10px;
  overflow-y: scroll;
  background-color: white;
}

.sidebar > header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-bottom: solid 3px #6b5b95;
}

.teaser-list .teaser:not(.teaser--last) {
  margin: 0;
  padding-bottom: 10px;
  box-shadow: none;
  border-bottom: solid 1px #ccc;
}

.teaser {
  flex: 0 0 100%;
  padding: 10px;
  color: #555;
  word-break: break-word;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.teaser__title {
  color: #222;
  text-decoration: none;
  font-size: 16px;
}

.teaser.active {
  background-color: #c4b7e86e;

  .teaser__title {
    color: #6b5b95;
  }
}

.teaser:hover {
  cursor: pointer;
}

.teaser__author {
  font-size: 12px;
}

.teaser:hover .teaser__title {
  color: #6b5b95;
}

.teaser__published {
  font-size: 14px;
  color: #888;
}

a.teaser__source {
  font-size: 14px;
  color: #6b5b95;
}

.teaser__image {
  max-width: 100px;
  margin-right: 10px;
}

.teaser img {
  max-width: 95px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }

  .sidebar {
    width: 30%;
    min-width: 150px;
    border-right: solid 2px #6b5b95;
  }

  .sidebar .teaser__title,
  .sidebar .teaser__author,
  #reader-view h2 {
    font-size: 11px;
    letter-spacing: -0.5px;
  }

  #reader-view h1 {
    font-size: 14px;
  }

  .teaser p,
  .teaser .teaser__title {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
